<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm.min.css">
</head>
<body>
<!--/*@thymesVar id="loginRequest" type="com.bookstoreapplication.bookstore.user.login.LoginRequest"*/-->
<form action="#" method="post" th:action="@{/login}" th:object="${loginRequest}">

    <label for="email">Email:</label>
    <input type="text" id="email" name="email" th:field="*{email}">

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" th:field="*{password}">

    <button type="submit">Submit</button>
    <button type="Reset">Reset</button>

    <!--/*@thymesVar id="message" type="java.lang.String"*/-->
    <h1 th:if="${message != null}" th:text="${message}"></h1>

</form>
</body>
</html>