<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm.min.css">
</head>
<body>
<!--/*@thymesVar id="registrationRequest" type="com.bookstoreapplication.bookstore.user.registration.RegistrationRequest"*/-->
<form method="post" th:action="@{/register}" th:object="${registrationRequest}">

    <label>
        Email:<br><input type="text" name="email" th:field="*{email}">
        Username:<br><input type="text" name="username" th:field="*{username}">
        Password:<br><input type="password" name="password" th:field="*{password}">
        Name:<br><input type="text" name="name" th:field="*{name}">
        Surname:<br><input type="text" name="surname" th:field="*{surname}">
        Date of birth:<br><input type="date" name="dateOfBirth" th:field="*{dateOfBirth}">
        User role:<br>
        <input type="radio" value="USER" th:field="*{role}">USER
        <input type="radio" value="ADMIN" th:field="*{role}">ADMIN<br>
    </label>

    <button type="submit">Submit</button>
    <button type="Reset">Reset</button>

    <!--/*@thymesVar id="message" type="java.lang.String"*/-->
    <h1 th:if="${message != null}" th:text="${message}"></h1>

</form>
</body>
</html>