<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm.min.css">
</head>
<body>
<!--/*@thymesVar id="registrationRequest" type="com.bookstoreapplication.bookstore.user.registration.RegistrationRequest"*/-->
<form action="#" method="post" th:action="@{/register}" th:object="${registrationRequest}">

    <label for="email">Email:</label>
    <input type="text" id="email" name="email" th:field="*{email}">

    <label for="username">Username:</label>
    <input type="text" id="username" name="username" th:field="*{username}">

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" th:field="*{password}">

    <label for="name">Name:</label>
    <input type="text" id="name" name="name" th:field="*{name}">

    <label for="surname">Surname:</label>
    <input type="text" id="surname" name="surname" th:field="*{surname}">

    <label for="dateOfBirth">Date of birth:</label>
    <input type="date" id="dateOfBirth" name="dateOfBirth" th:field="*{dateOfBirth}">

    <label>User role:</label>
    <div th:each="userRole : ${T(com.bookstoreapplication.bookstore.user.account.UserRole).values()}">
        <label th:for="${'radioBtn' + userRole.name()}" th:text="${userRole}">Role</label>
        <label><input type="radio" th:id="${'radioBtn' + userRole.name()}" th:field="*{role}" th:value="${userRole}"></label>
    </div>

    <button type="submit">Submit</button>
    <button type="Reset">Reset</button>

    <!--/*@thymesVar id="message" type="java.lang.String"*/-->
    <h1 th:if="${message != null}" th:text="${message}"></h1>

</form>
</body>
</html>